@import '@/styles/base/colors';
@import '../../styles/base/typography';

.section {
  display: flex;
  align-items: center;
  margin: 20px 20px;

  button {
    margin-left: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .selections {
    padding: 15px;
    border-radius: $small-border-radius;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $hover-gray;
      transition: all .2s;
    }
  }
}
