@import '/src/styles/base/_colors';
@import '/src/styles/base/typography';

.headline {
  margin: 10px 0 30px;
  font-size: 1.8rem;
  color: $primary;
}

.card {
  background-color: $tertiary;
  border-radius: $small-border-radius;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
  margin: 0 50px;
}