@import '@/styles/base/colors';
@import '@/styles/base/_typography';

.button {
  padding: 0.75em 1em;
  font-weight: 700;
  outline: none;
  transition: $default-transition;

  &_primary {
    background-color: $white;
    color: $primary;
    transition: $default-transition;
    border: $primary-border;

    &:hover {
      background-color: $tertiary;
    }
  }

  &_secondary {
    background-color: $primary;
    color: $white;
    border: $primary-border;

    &:hover {
      background-color: $active;
      color: $white;
      border: $active-border;
    }
  }

  &:hover {
    cursor: pointer;
  }
}