$primary: rgba(41,140,21,1);
$active: rgb(229, 156, 19);
$secondary: rgba(244,248,251,1);
$tertiary: rgb(227, 228, 230);

$white: rgba(255,255,255,1);
$hover-gray: rgba(217,220,229,1);
$dark-gray: rgba(66,66,66,1);
